.about-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  flex-flow: column nowrap;

  hr {
    display: none;
    @include phones() {
      display: block;
      width: 80%;
    }
  }

  .about,
  .about_reverse {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-flow: row wrap;
    flex: 1 1 100vh;

    &__img {
      height: 550px;
      flex: 2 1 300px;
      margin: 40px;
      align-content: flex-end;

      @include phones() {
        height: 350px;

      }
    }

    &.item-1 .about__img {
      background: url("/assets/img/slider/about/about-1-1920.jpg") center center;
      background-size: cover;
      border-radius: 5px;

    }
    &.item-2 .about__img {
      background: url("/assets/img/slider/about/about-2-1920.jpg") center center;
      background-size: cover;
      border-radius: 5px;

    }
    &.item-3 .about__img {
      background: url("/assets/img/slider/about/about-3-1920.jpg") center center;
      background-size: cover;
      border-radius: 5px;
    }
    &.item-4 .about__img {
      background: url("/assets/img/slider/about/about-4-1920.jpg") center center;
      background-size: cover;
      border-radius: 5px;

    }
    &.item-5 .about__img {
      background: url("/assets/img/slider/about/about-5-1920.jpg") left center;
      background-size: cover;
      border-radius: 5px;

    }

    &__text {
      margin: 40px;
      margin-top: 0;
      color: #504f51;
      font-size: 16px;
      line-height: 1.75;
      flex: 1 1 300px;

    }
  }
  .about_reverse {
    flex-flow: row-reverse wrap;
  }
}