.barhat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .container {
    width: 1180px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-flow: row wrap;
  }
}

.tissue-title .banner-tissue .banner__text {
  color:red;
}
.barhat__img {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  height: 295px;
  flex: 1 1 295px;
  overflow-x: hidden;


  .barhat__header {
    position: absolute;
    display: flex;
    flex-direction: column;
    //align-items: flex-end;
    left: -100%;
    top: 15px;
    transition: left .3s ease-in-out;
    //background: rgba(0,0,0,0.5);
    color: #FFF;

    .barhat__title {
      order:1;
      margin-top: 0;
      padding:7px 15px;
      background-color: rgba(5,112,168,0.5);
      font-size: 24px;
      line-height: 1.3;
      text-align: center;
      letter-spacing: 1px;
      //min-width: 100px;

    }
    .barhat__index {
      margin-bottom: 0;
      margin-top: 0;
      padding:5px 15px;
      font-size: 20px;
      line-height: 1.3;
      background-color: rgba(0,0,0,0.5);
      text-align: center;
      //max-width: 80%;
    }
  }

  &:hover {
    .barhat__header {
      left: 0;
    }
  }
}

.barhat__img.item-1 {
  background: url("/assets/img/tissue-item/tissue-1.jpg") top left;
  background-size: cover;
}
.barhat__img.item-2 {
  background: url("/assets/img/tissue-item/tissue-6.jpg") top left;
  background-size: cover;
}
.barhat__img.item-3 {
  background: url("/assets/img/tissue-item/tissue-3.jpg") top left;
  background-size: cover;
}
.barhat__img.item-4 {
  background: url("/assets/img/tissue-item/tissue-4.jpg") top left;
  background-size: cover;
}
.barhat__img.item-5 {
  background: url("/assets/img/tissue-item/tissue-5.jpg") top left;
  background-size: cover;
}
.barhat__img.item-6 {
  background: url("/assets/img/tissue-item/tissue-2.jpg") top left;
  background-size: cover;
}
