.barhat-wrapper {


  .container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-flow: row wrap;
  }
}

.barhat__img {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  height: 295px;
  flex: 1 1 295px;
  background: url("/assets/img/tissue-page/barhat.jpeg") top left;
  background-size: cover;
  overflow-x: hidden;


  .barhat__header {
    position: absolute;
    left: -100%;
    top: 20px;
    transition: left .3s ease-in-out;
    background: rgba(0,0,0,0.5);
    color: #FFF;
  }

  &:hover {
    .barhat__header {
      left: 0;
    }
  }
}
