.contact-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  flex-flow: column nowrap;

  .contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-flow: row wrap;
    flex: 1 1 400px;

    &__img {
      height: 300px;
      flex: 2 1 200px;
      margin: 40px;
      align-content: flex-end;
    }

    &_item-1 .about__img {
      background: url("/assets/img/slider/about/about-3.png") left center;
      background-size: cover;
    }

    &__text {
      margin: 40px;
      color: #504f51;
      font-size: 16px;
      line-height: 1.75;
      flex: 1 1 300px;

    }
  }
}