
.gallery {
  width: 100%;
  margin: 75px auto 50px auto;
}

.gallery ul {
  //display: block;
  //width: 700px;
  margin: 0 auto;
  padding-left: 10px;}

.gallery li {
  display: inline;
  margin-right: 3px;
  width: 100px;


  img {
    cursor: pointer;
    width: 100px;
    height: auto;
  }
}
.main-img {
  display: block;
  margin: 0 auto;
  height: 500px;
}

.main-img:hover {

}

