body,html,div,blockquote,img,label,p,h1,h2,h3,h4,h5,h6,pre,ul,ol,li,dl,dt,dd,form,a,fieldset,input,th,td{border:0;outline:none;margin:0;padding:0;}
body{height:100%;background:#fff;color:#1f1f1f;font-family:"Lucida Sans Unicode","Lucida Grande",Arial,Verdana,sans-serif;font-size:13px;padding:7px 0;}
ul{list-style:none;}
.text-center {text-align: center; padding: 10px 0;}

.gallery {width: 70%; margin: 75px auto 50px auto;}
.gallery ul {padding-left: 10px;}
.gallery li {display: inline; margin-right: 3px;
  img {
    cursor: pointer;
    width: 100px; height: auto;
  }
}
.main-img {height: 650px;}

.main-img:hover {

}