.container {
  width: 80%;
  margin: 0 auto;
}

section {
  //padding: 50px auto;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  
  .slider-right {
    width: 100%;
    margin: 0 auto;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @include tablets() {
      flex-direction: column;
      justify-content: flex-end;
      height: 400px;

    }

    @include phones() {
      height: 300px;
    }
  }

  .slider-text {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 10000;
    color: white;
    width: 400px;
    height: 100%;
    background: rgba(0,0,0, 0.6);

    @include laptop() {
      width: 300px;
    }
    @include tablets() {
      width: 250px;
    }

    @include phones() {
      display: none;
    }

    &__title {
      font-family: Kurale-Regular, Roboto, sans-serif;
      text-align: center;
      background: rgba(0,0,0,0.7);
      margin: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 24px;
    }

    &__description {
      font-weight: 100;
      font-size: 16px;
      line-height: 1.75;
      font-family: Roboto, Tahoma, sans-serif;
      padding: 25px 30px 25px 40px;
    }

    &__moreinfo {
      padding: 40px;
      margin-top: auto;
      text-align: end;
    }

    &__link {
      text-decoration: none;
      color: white;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 16px;

      transition: color 0.3s;

      .fa-chevron-right {
        margin-left: 10px;
        font-size: 16px;
      }

      &:hover {
        color: lightgray;
        //font-size: 17px;
      }
    }
  }
}

.atelier-img {
  max-width: 500px;
}


#slider-about {
  .item-1 {
    background: url("/assets/img/slider/about/about-1-1000.jpg") center center;
    background-size: cover;
  }
  .item-2 {
    background: url("/assets/img/slider/about/about-2-1000.jpg") center center;
    background-size: cover;
  }
  .item-3 {
    background: url("/assets/img/slider/about/about-4-1000.jpg") center center;
    background-size: cover;
  }
  .item-4 {
    background: url("/assets/img/slider/about/about-5-1000.jpg") center center;
    background-size: cover;
  }
}

#slider-tissue {
  .item-1 {
    background: url("/assets/img/slider/tissue/tissue-7-r.jpeg") left center;
    background-size: cover;
  }
  .item-2 {
    background: url("/assets/img/slider/tissue/tissue-8.jpeg") left center;
    background-size: cover;
  }
  .item-3 {
    background: url("/assets/img/slider/tissue/tissue-1.jpeg") left center;
    background-size: cover;
  }
  .item-4 {
    background: url("/assets/img/slider/tissue/tissue-4.jpeg") left center;
    background-size: cover;
  }
}
#slider-studio {
  .item-1 {
    background: url("/assets/img/slider/studio/studio-1.jpeg") left center;
    background-size: cover;
  }
  .item-2 {
    background: url("/assets/img/slider/studio/studio-2.jpeg") left center;
    background-size: cover;
  }
  .item-3 {
    background: url("/assets/img/slider/studio/studio-3.jpeg") left center;
    background-size: cover;
  }
  .item-4 {
    background: url("/assets/img/slider/studio/studio-4.jpeg") left center;
    background-size: cover;
  }
}

#slider-showroom {
  .item-1 {
    background: url("/assets/img/slider/showroom/showroom-7-1000.jpg") center center;
    background-size: cover;
  }
  .item-2 {
    background: url("/assets/img/slider/showroom/showroom-6-1000.jpg") center center;
    background-size: cover;
  }
  .item-3 {
    background: url("/assets/img/slider/showroom/showroom-5-1000.jpg") center center;
    background-size: cover;
  }
  .item-4 {
    background: url("/assets/img/slider/showroom/showroom-7-1000.jpg") center center;
    background-size: cover;
  }
}

.owl-carousel {

  .owl-nav {
    position: absolute;
    top:2px;
    right: 20px;

    .owl-prev, .owl-next {
      background-color: rgba(255,255,255,0.2);
      color: white;
      font-size: 18px;
      &:hover {
        color: lightgray;
        background-color: rgba(255,255,255,0.3);
      }
    }

  }
}


