.container {
  width: 80%;
  margin: 0 auto;
}

section {
  //padding: 50px auto;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  
  .slider-right {
    width: 100%;
    margin: 0 auto;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .slider-text {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 10000;
    color: white;
    width: 400px;
    height: 400px;
    background: rgba(0,0,0, 0.6);

    &__title {
      font-family: Kurale-Regular, Roboto, sans-serif;
      text-align: center;
      background: rgba(0,0,0,0.7);
      margin: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 24px;
    }

    &__description {
      font-weight: 100;
      line-height: 1.42;
      font-family: Roboto, Tahoma, sans-serif;
      padding: 20px 25px 25px 35px;
    }

    &__moreinfo {
      padding: 40px;
      margin-top: auto;
      text-align: end;

    }

    &__link {
      text-decoration: none;
      color: white;

      &:hover {
        color: lightgray;
      }
    }
  }
}

.atelier-img {
  max-width: 500px;
}


#slider-about {
  .item-1 {
    background: url("/assets/img/slider/about/about-1.png") left center;
    background-size: cover;
  }
  .item-2 {
    background: url("/assets/img/slider/about/about-2.png") left center;
    background-size: cover;
  }
  .item-3 {
    background: url("/assets/img/slider/about/about-3.png") left center;
    background-size: cover;
  }
  .item-4 {
    background: url("/assets/img/slider/about/about-4.png") left center;
    background-size: cover;
  }
}

#slider-tissue {
  .item-1 {
    background: url("/assets/img/slider/tissue/tissue-1.png") left center;
    background-size: cover;
  }
  .item-2 {
    background: url("/assets/img/slider/tissue/tissue-2.png") left center;
    background-size: cover;
  }
  .item-3 {
    background: url("/assets/img/slider/tissue/tissue-3.png") left center;
    background-size: cover;
  }
  .item-4 {
    background: url("/assets/img/slider/tissue/tissue-4.png") left center;
    background-size: cover;
  }
}
#slider-studio {
  .item-1 {
    background: url("/assets/img/slider/studio/studio-1.png") left center;
    background-size: cover;
  }
  .item-2 {
    background: url("/assets/img/slider/studio/studio-2.png") left center;
    background-size: cover;
  }
  .item-3 {
    background: url("/assets/img/slider/studio/studio-3.png") left center;
    background-size: cover;
  }
  .item-4 {
    background: url("/assets/img/slider/studio/studio-4.png") left center;
    background-size: cover;
  }
}

#slider-showroom {
  .item-1 {
    background: url("/assets/img/slider/showroom/showroom-1.png") left center;
    background-size: cover;
  }
  .item-2 {
    background: url("/assets/img/slider/showroom/showroom-2.png") left center;
    background-size: cover;
  }
  .item-3 {
    background: url("/assets/img/slider/showroom/showroom-3.png") left center;
    background-size: cover;
  }
  .item-4 {
    background: url("/assets/img/slider/showroom/showroom-4.png") left center;
    background-size: cover;
  }
}

.owl-carousel {

  .owl-nav {
    position: absolute;
    top:4px;
    right: 22px;

    .owl-prev, .owl-next {
      background-color: white;
      color: black;
      &:hover {
        background-color: lightgray;
      }
    }

  }
}


