.showroom-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-flow: row wrap;
}

.showroom, .showroom-reverse {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  height: 450px;
  flex: 1 1 600px;

  &__img {
    background-size: cover;
    flex-basis: 100px;
    flex-grow: 1;
  }

  &__description {
    width: 50%;
    display: flex;
    //height: 500px;
    flex-direction: column;
    flex-basis: 100px;
    justify-content: flex-start;
    flex-grow: 1;
    background-color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-family: Kurale-Regular, Roboto, sans-serif;
    margin-bottom: 12px;
    margin-top: 12px;

    &:first-child {
      margin-top: 25px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    font-size: 1rem;
    //text-align: center;
    font-family: Roboto, sans-serif;
    //padding-top: 2rem;
    line-height: 1.75;
    color: #6a6c6e;
    height: 200px;
    overflow: hidden;
  }

  &__link {
    background: #fff;
    margin-bottom: -1px;
    width: 100%;
    font-weight: 400;
    text-align: center;
    position: relative;
    margin-top: auto;
    margin-bottom: 100px;

    &:before {
      content: "";
      width: 100%;
      height: 98px;
      position: absolute;
      bottom: 100%;
      left: 0;
      background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#ffffff',GradientType=0);
    }
    .showroom__url {
      background-color: #e7ae01;
      color: #fff;
      display: inline-block;
      font-size: 14px;
      letter-spacing: .1em;
      margin: 1em 0 0;
      padding: 10px 20px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .3s;
      z-index: 1;


    }
  }

  .cover-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    transition: border-color .3s, border-width .3s;
    background-color: transparent;
    z-index: 2;
    box-sizing: border-box;

    &:hover {
      border-width: 15px;
      border-color: rgba(0,0,0,.2);

    }
  }
}

.barhat .showroom__img {
  background: url("/assets/img/showroom-page/barhat.jpeg") center center;
}
.tvid .showroom__img {
  background: url("/assets/img/showroom-page/tvid-shanel.jpeg") center center;
}
.shelk .showroom__img {
  background: url("/assets/img/showroom-page/shelk.jpeg") center center;
}
.shifon .showroom__img {
  background: url("/assets/img/showroom-page/shifon.jpeg") center center;
}
.gipur .showroom__img {
  background: url("/assets/img/showroom-page/gipur.jpeg") center center;
}
.hlopok .showroom__img {
  background: url("/assets/img/showroom-page/hlopok.jpeg") center center;
}
.jakard .showroom__img {
  background: url("/assets/img/showroom-page/jakard.jpeg") center center;
}
.kletka .showroom__img{
  background: url("/assets/img/showroom-page/barhat.jpeg") center center;
}
.trikotaj .showroom__img{
  background: url("/assets/img/showroom-page/trikotaj.jpeg") center center;
}
.podkladka .showroom__img{
  background: url("/assets/img/showroom-page/barhat.jpeg") center center;
}
.drap .showroom__img{
  background: url("/assets/img/showroom-page/drap.jpeg") center center;
}
.costume .showroom__img{
  background: url("/assets/img/showroom-page/barhat.jpeg") center center;
}
.furniture .showroom__img{
  background: url("/assets/img/showroom-page/barhat.jpeg") center center;
}
.showroom-reverse .showroom__img {
  order: 1;
}
