.studio-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  flex-flow: column nowrap;

  hr {
    display: none;
    @include phones() {
      display: block;
      width: 80%;
    }
  }

  .studio,
  .studio_reverse {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-flow: row wrap;
    flex: 1 1 100vh;


    &__img {
      height: 550px;
      flex: 2 1 300px;
      margin: 40px;
      align-content: flex-end;

      @include phones() {
        height: 350px;

      }
    }
    &__img.item-1 {
      background: url('/assets/img/studio-page/process-9.jpg');
      background-size: cover;
    }
    &__img.item-2 {
      background: url('/assets/img/studio-page/process-8.jpg');
      background-size: cover;
    }
    &__img.item-3 {
      background: url('/assets/img/studio-page/process-7.jpg');
      background-size: cover;
    }
    &__img.item-4 {
      background: url('/assets/img/studio-page/process-6.jpg');
      background-size: cover;
    }

    &__img.item-5 {
      background: url('/assets/img/studio-page/process-5.jpg');
      background-size: cover;
    }
    &__img.item-6 {
      background: url('/assets/img/studio-page/process-4.jpg');
      background-size: cover;
    }
    &__img.item-7 {
      background: url('/assets/img/studio-page/process-3.jpg');
      background-size: cover;
    }
    &__img.item-8 {
      background: url('/assets/img/studio-page/process-2.jpg');
      background-size: cover;
    }
    &__img.item-9 {
      background: url('/assets/img/studio-page/process-1.jpg');
      background-size: cover;
    }

    &__text {
      margin: 40px;
      color: #504f51;
      font-size: 16px;
      line-height: 1.75;
      flex: 1 1 300px;

      @include phones() {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  .studio_reverse {
    flex-flow: row-reverse wrap;
  }
}