footer.page-footer
  p Здесь будет навигация, галерея из инстаграм, карта, адрес
  //+nav(["О нас", "Ткани", "Ателье", "Шоурум", "Галерея", "Контакты"])
  //.socials
  //  ul.socials__list
  //    li.socials__item
  //      a.socials__link.socials__link_vk(href='#')
  //        i.fab.fa-facebook-f
  //    li.socials__item
  //      a.socials__link.socials__link_fb(href='#')
  //        i.fab.fa-instagram