footer.page-footer
  h2.adress Москва, Ломоносовский проспект, 25
  .map-wrapper#map
  .nav-wrapper
    +nav("nav", [["О нас", "/index.html"], ["Ткани", "/tissue.html"], ["Ателье", "/studio.html"],
      ["Шоурум", "/showroom.html"], ["Галерея", "/gallery.html"], ["Контакты", "/contacts.html"]], 9)
  .instagram-wrapper









    //.socials
    //  ul.socials__list
    //    li.socials__item
    //      a.socials__link.socials__link_vk(href='#')
    //        i.fab.fa-facebook-f
    //    li.socials__item
    //      a.socials__link.socials__link_fb(href='#')
    //        i.fab.fa-instagram