header.header#header
  .header__background.rotator
    ul
      li
        .header__slide#header__slide_1
        //img.header__slide#header__slide_1(src="/assets/img/banner/banner-17.jpg")
        //img.header__slide#header__slide_1-mobile(src="/assets/img/banner/banner-17-900.jpg")
      li
        .header__slide#header__slide_2
        //img.header__slide#header__slide_2(src="/assets/img/banner/banner-13.jpg")
        //img.header__slide#header__slide_2-mobile(src="/assets/img/banner/banner-13-900.jpg")
      li
        .header__slide#header__slide_3
        //img.header__slide#header__slide_3(src="/assets/img/banner/banner-14.jpg")
        //img.header__slide#header__slide_3-mobile(src="/assets/img/banner/banner-14-900.jpg")
      li.show
        .header__slide#header__slide_4
        //img.header__slide#header__slide_4(src="/assets/img/banner/banner-18.jpg")
        //img.header__slide#header__slide_4-mobile(src="/assets/img/banner/banner-18-900.jpg")
      li
        .header__slide#header__slide_5
        //img.header__slide#header__slide_5(src="/assets/img/banner/banner-11.jpg")
        //img.header__slide#header__slide_5-mobile(src="/assets/img/banner/banner-11-900.jpg")
  a.instagram(target='_blank' href="https://www.instagram.com/tkani_mendosa/")
    i.instagram__link.fab.fa-instagram
    span.instagram__title INSTAGRAM
  include ../common/_menu-mobile
  +nav("nav", [["Главная","/index.html"], ["О нас","/about.html"], ["Ткани","/tissue.html"], ["Ателье","/studio.html"],
    ["Шоурум","/showroom.html"], ["Галерея","/gallery.html"], ["Контакты","#footer"]], activeItem)
  .banner
    a(href='/index.html').logo-shadow-link
      .logo-circle
    .text-container
      .banner__text Бутик - Ателье
      a(href='#id1').btn-container
        .go-down.fas.fa-chevron-down
      .banner__text_it Bellissimi tessuti italiani

