header.header#header
  .header__background
    img.main-pic.i-1(src="/assets/img/banner/test-11-min.jpg")
  //  img.main-pic.i-2(src="/assets/img/banner/test-12-min.jpg")
  //  img.main-pic.i-3(src="/assets/img/banner/test-13-min.jpg")
  //  img.main-pic.i-4(src="/assets/img/banner/test-14-min.jpg")
  //  img.main-pic.i-5(src="/assets/img/banner/test-15-min.jpg")
  //  img.main-pic.i-6(src="/assets/img/banner/test-16-min.jpg")
  //  img.main-pic.i-7(src="/assets/img/banner/test-17-min.jpg")
  //  img.main-pic.i-8(src="/assets/img/banner/test-18-min.jpg")
  a.instagram(target='_blank' href="https://www.instagram.com/tkani_mendosa/")
    i.instagram__link.fab.fa-instagram
  include ../common/_menu-mobile
  +nav("nav", [["О нас","/about.html"], ["Ткани","/tissue.html"], ["Ателье","/studio.html"],
    ["Шоурум","/showroom.html"], ["Галерея","/gallery.html"], ["Контакты","#footer"]], activeItem)
  .banner
    a(href='/index.html').logo-shadow-link
      .logo-circle
        //.logo M
        //.logo__text MENDOSA
    .text-container
      .banner__text Красивые итальянские ткани
      a(href='#id1').btn-container
        .go-down.fas.fa-chevron-down
      .banner__text_it Bellissimi tessuti italiani

