header.header-tissue
  +nav("nav", [["О нас","/index.html"], ["Ткани","/tissue.html"], ["Ателье","/studio.html"],
    ["Шоурум","/showroom.html"], ["Галерея","/gallery.html"], ["Контакты","/contacts.html"]], 9)
  .banner-tissue
    block tissue-title

//"О нас", "Ткани", "Ателье", "Mendosa", "Шоурум", "Галерея", "Контакты"