header.header#header
  +nav("nav", [["О нас","/about.html"], ["Ткани","/tissue.html"], ["Ателье","/studio.html"],
    ["Шоурум","/showroom.html"], ["Галерея","/gallery.html"], ["Контакты","/contacts.html"]], activeItem)
  .banner
    .banner__text_it
    //Bellissimi tessuti italiani
    a(href='/index.html').logo-shadow-link
      .logo-circle
        .logo M
        .logo__text MENDOSA
    .text-container
      .banner__text Красивые итальянские ткани
      a(href='#id1').btn-container
        .go-down.fas.fa-chevron-down(data-link='.page-footer')
      .banner__text_it Bellissimi tessuti italiani
