header.header
  +nav(["О нас", "Ткани", "Ателье", "Mendosa", "Шоурум", "Галерея", "Контакты"], 0)
  .banner
    h2.banner__text Красивые итальянские ткани
    h2.banner__text_it Bellissimi tessuti italiani

