.container
  section#about
    .owl-carousel.owl-theme#slider-about
      div.slider-right.item-1
        .slider-text
          h3.slider-text__title О нас
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/about.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-2
        .slider-text
          h3.slider-text__title О нас
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            .slider-text__link(href='/about.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-3
        .slider-text
          h3.slider-text__title О нас
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/about.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-4
        .slider-text
          h3.slider-text__title О нас
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/about.html') Подробнее
              i.fas.fa-chevron-right
  hr
  section#tissue
    .owl-carousel.owl-theme#slider-tissue
      div.slider-right.item-1
        .slider-text
          h3.slider-text__title Ткани
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/tissue.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-2
        .slider-text
          h3.slider-text__title Ткани
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            .slider-text__link(href='/tissue.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-3
        .slider-text
          h3.slider-text__title Ткани
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/tissue.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-4
        .slider-text
          h3.slider-text__title Ткани
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/tissue.html') Подробнее
              i.fas.fa-chevron-right
  hr
  section#studio
    .owl-carousel.owl-theme#slider-studio
      div.slider-right.item-1
        .slider-text
          h3.slider-text__title Ателье
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/studio.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-2
        .slider-text
          h3.slider-text__title Ателье
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            .slider-text__link(href='/studio.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-3
        .slider-text
          h3.slider-text__title Ателье
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/studio.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-4
        .slider-text
          h3.slider-text__title Ателье
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/studio.html') Подробнее
              i.fas.fa-chevron-right
  hr
  section#showroom
    .owl-carousel.owl-theme#slider-showroom
      div.slider-right.item-1
        .slider-text
          h3.slider-text__title Шоурум
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/showroom.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-2
        .slider-text
          h3.slider-text__title Шоурум
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            .slider-text__link(href='/showroom.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-3
        .slider-text
          h3.slider-text__title Шоурум
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/showroom.html') Подробнее
              i.fas.fa-chevron-right
      div.slider-right.item-4
        .slider-text
          h3.slider-text__title Шоурум
          .slider-text__description Наш магазин-ателье специализируется на продаже итальянских тканей прямиком из Италии! У нас вы сможете подобрать ткань для любого повода и события, а наши лучшие специалисты смогут сшить для Вас все что угодно!
          .slider-text__moreinfo
            a.slider-text__link(href='/showroom.html') Подробнее
              i.fas.fa-chevron-right