.page-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-flow: row wrap;
  min-height: 300px;
  height: auto;
  .adress {
    position: absolute;
    left: 20px;
    top: -10px;
    z-index: 10;
    font-size: 17px;
  }
 .map-wrapper,
 .nav-wrapper,
 .instagram-wrapper {
   display: flex;
   flex: 1 1 400px;
   margin: 20px;
 }
  .map-wrapper {
    //position: relative;
    min-height: 250px;
    margin-bottom: 25px;
    margin-top: 45px;
  }

  .nav {
    flex: 1 0 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
      width: 100%;
    }

    .nav__list {
      margin: 0;
      padding-left: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: stretch;
      align-content: center;
      list-style: none;
      height: 150px;

    }

    .nav__item {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      //padding-right: 40px;
      width: 100px;
      height: 50px;
      margin: 0;
      zoom: 1;
      flex: 1 1 150px;


      &:last-child,
      &:nth-child(3)  {
        padding-right: 0;
      }

      .nav__link {
        flex-wrap: nowrap;
        margin: auto;
        font-size: 18px;
        align-self: center;
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.5s;
        font-family: Kurale-Regular, Roboto, sans-serif;

        &:link {
          text-decoration: none;
        }
        &:visited {
          text-decoration: none;
        }
        &:hover {
          color: #e7c993;
          text-decoration: none;
        }
        &:active {
          color: grey;
          text-decoration: none;
        }
      }
    }

    .nav__item_active .nav__link {
      color: #e7c993;
      pointer-events: none; /* делаем элемент неактивным для взаимодействия */
      cursor: default;
    }
  }

}



//.socials__list {
//  display: flex;
//  flex-direction: row;
//  justify-content: flex-end;
//}
//
//.socials {
//  display: flex;
//  flex-direction: row;
//  justify-content: flex-end;
//}

