.header {
  width: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  background:
          url('/assets/img/test-3-min.jpg') bottom center,
          url('/assets/img/test-2-min.jpg') bottom center,

          url('/assets/img/test-4-min.jpg') bottom center,

          url('/assets/img/test-1-min.jpg') center center,




          url('/assets/img/test-5-min.jpg') bottom center,
          url('/assets/img/test-6-min.jpg') bottom center,
          url('/assets/img/test-7-min.jpg') bottom center;
  //background-size: cover;
  //animation: change-back-img 30s linear infinite alternate, back-img 7s linear infinite alternate;
  background-attachment:  fixed;
  //transition: background 2s 1s linear;

  @include laptop() {
    min-height: 80%;
  }

  @include tablets() {
    min-height: 60%;
  }

  @include phones() {
    min-height: 40%;
  }

  .call-me-baby {
    position: absolute;
    top: 5px;
    left: 150px;
  }

  .instagram {
    position: absolute;
    top: 5px;
    right: 150px;

    @include desktop() {
      right: 30px;
    }

    @include laptop() {
      right: 0;
    }

    @include tablets() {

    }

    @include phones() {
      min-height: 40%;
    }
  }
  .instagram__link {
    width: 40px;
    height: 40px;
    color: white;

    &:hover {
      color: #e7c993;
    }
  }
  .nav {
    width: 100%;
    margin-bottom: auto;
    align-self: flex-start;
    background: rgba(0,0,0, 0.5);
    box-shadow: 0 20px 60px 30px rgba(0, 0, 0, 0.5);

    &__list {
      margin: 0;
      padding-left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style: none;

      @include tablets() {
        flex-wrap: wrap;
      }

      @include phones() {
      }
    }

    &__item {
      width: auto;
      height: 50px;
      margin: 0;
      padding-right: 50px;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      zoom: 1;

      @include tablets() {
        height: 40px;
        padding-right: 28px;
      }

      @include phones() {
        height: 30px;
        padding-right: 20px;
      }
      &:last-child{
        padding-right: 0;
      }
      //&:nth-child(4) {
      //  padding: 0 70px 0;
      //}
      .nav__link {
        flex-wrap: nowrap;
        font-size: 20px;
        align-self: center;
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.5s;
        font-family: Kurale-Regular, Roboto, sans-serif;

        @include tablets() {
          font-size: 16px;

        }

        @include phones() {
          font-size: 14px;

        }
        &:link {
          text-decoration: none;
        }
        &:visited {
          text-decoration: none;
        }
        &:hover {
          color: #e7c993;
          text-decoration: none;
        }
        &:active {
          color: #e7c993;
          text-decoration: none;
        }
      }
    }
    &__item_active .nav__link {
      color: #e7c993;
      pointer-events: none; /* делаем элемент неактивным для взаимодействия */
      cursor: default;
    }
  }
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  //flex: 1 0 auto;


  .logo-shadow-link {
    text-decoration: none;
    align-self: center;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 26px 64px 70px rgba(0, 0, 0, 0.5);

    @include laptop() {
      width: 300px;
      height: 300px;

    }
    @include tablets() {
      width: 200px;
      height: 200px;
      margin-top: auto;
    }

    @include phones() {
      width: 150px;
      height: 150px;
    }

    .logo-circle {
      align-self: center;
      background: url("/assets/img/logo/logoopacity-gold.png") center center;
      background-size: 100%;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;

      @include laptop() {
        width: 300px;
        height: 300px;

      }
      @include tablets() {
        width: 200px;
        height: 200px;

      }

      @include phones() {
        width: 150px;
        height: 150px;
        margin-top: 40px;
      }
    }
    .logo {
      display: block;
      padding-top: 20px;
      padding-right: 10px;
      text-align: center;
      color: white;
      font-size: 200px;
      line-height: 150px;
      font-family: WolfgangAmadeusMozart, sans-serif;

      @include laptop() {
        font-size: 150px;
        line-height: 115px;
      }
      @include tablets() {
        font-size: 100px;
        line-height: 75px;
      }

      @include phones() {
        font-size: 70px;
        line-height: 50px;
      }
    }
    .logo__text {
      font-size: 50px;
      font-family: Rockwell, Roboto, Arial, Tahoma, sans-serif;
      color: white;

      @include tablets() {
        font-size: 40px;
      }

      @include phones() {
        font-size: 30px;

      }
    }
  }

  .text-container {
    height: 100px;
    display: flex;
    flex-direction: row;
    background: rgba(0,0,0, 0.4);
    box-shadow: 0px -20px 30px 6px rgba(0, 0, 0, 0.4);
  }
  &__text {
    font: 60px WolfgangAmadeusMozart, Roboto, sans-serif;
    line-height: 1.6;
    color: whitesmoke;
    margin: 0;
    text-align: center;
    flex: 1 1 50%;

    @include desktop() {
      font-size: 50px;
    }
    @include laptop() {
      font-size: 40px;
      line-height: 2;

    }

    @include tablets() {
      font-size: 40px;
    }
  }

  &__text_it {
    font: 65px WolfgangAmadeusMozart, Roboto, sans-serif;
    color: whitesmoke;
    text-align: center;
    flex: 1 1 50%;
    position: relative;

    @include desktop() {
      font-size: 55px;
    }


    @include laptop() {
      font-size: 40px;
      line-height: 2;

    }
    @include tablets() {
      display: none;

    }

    @include phones() {
      display: none;
    }
  }
}

.btn-container {
   display: flex;
  flex-direction: column;
  justify-content: center;
  animation: arrow-move 1s ease-in infinite alternate;
  @include tablets() {
    display: none;

  }
  @include phones() {
    display: none;
  }

  .go-down {
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
  }
}
