.header {
  //padding: 0 0 20px;
  width: 100%;
  //height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/assets/img/banner-2.png');
  //background-position: 0 0;
  background-size: cover;

  //animation: back-img 20s linear infinite alternate;

  //box-shadow: inset ;
  background-attachment:  fixed;

  .container {
    margin: 10px auto;
    width: 100%;
  }
  .nav {
    width: 100%;
    background: rgba(0,0,0, 0.3);

    .nav__list {
      margin: 0;
      padding-left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style: none;

    }

    .nav__item {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      width: auto;
      padding-right: 50px;
      height: 50px;
      margin: 0;
      zoom: 1;



      &:last-child,
      &:nth-child(3)  {
        padding-right: 0;
      }
      &:nth-child(4) {
        padding: 0 70px 0;
      }
      .nav__link {
        flex-wrap: nowrap;
        font-size: 18px;
        align-self: center;
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.5s;
        font-family: Kurale-Regular, Roboto, sans-serif;

        &:link {
          text-decoration: none;
        }
        &:visited {
          text-decoration: none;
        }
        &:hover {
          color: #e7c993;
          text-decoration: none;
        }
        &:active {
          color: grey;
          text-decoration: none;
        }
      }
      &:nth-child(4) .nav__link  {
        font-size: 28px !important;
      }
    }
    .nav__item_active .nav__link {
      color: grey;
      pointer-events: none; /* делаем элемент неактивным для взаимодействия */
      cursor: default;
    }
  }
}

.logo {
  font-size: 50px;
}


.banner {
  //overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 100%;

  &__text {
    background: rgba(0,0,0, 0.4);
    font: 60px WolfgangAmadeusMozart, Roboto, sans-serif;
    line-height: 1.6;
    position: absolute;
    left: 0;
    bottom: 0;
    color: whitesmoke;
    margin: 0;
    padding-left: 30px;
    width: calc(100% - 30px);
  }

  &__text_it {
    font: 50px WolfgangAmadeusMozart, Roboto, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    color: whitesmoke;
    margin-right: 30px;
  }
}



@keyframes back-img {
  from {
    background: url("/assets/img/banner-2.png");
    background-position: 0 0;
    background-size: cover;
  }

  9% {
    background: url("/assets/img/banner-2.png");
    background-position: 0 -10px;
    background-size: cover;
  }

  18% {
    background: url("/assets/img/banner-2.png");
    background-position: 0 -20px;
    background-size: cover;
  }

  27% {
    background: url("/assets/img/banner-3.png");
    background-position: 0 -30px;
    background-size: cover;
  }

  36% {
    background: url("/assets/img/banner-3.png");
    background-position: 0 -40px;
    background-size: cover;
  }
  45% {
    background: url("/assets/img/banner-3.png");
    background-position: 0 -50px;
    background-size: cover;
  }

  54% {
    background: url("/assets/img/banner-4.png");
    background-position: 0 -60px;
    background-size: cover;
  }

  63% {
    background: url("/assets/img/banner-4.png");
    background-position: 0 -70px;
    background-size: cover;
  }

  72% {
    background: url("/assets/img/banner-4.png");
    background-position: 0 -80px;
    background-size: cover;
  }

  81% {
    background: url("/assets/img/banner-5.png");
    background-position: 0 -90px;
    background-size: cover;
  }

  90% {
    background: url("/assets/img/banner-5.png");
    background-position: 0 -100px;
    background-size: cover;
  }

  to {
    background: url("/assets/img/banner-5.png");
    background-position: 0 -110px;
    background-size: cover;
  }
}
