.header {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  background: url('/assets/img/test-1-min.jpg') center center;
  background-size: cover;
  animation: back-img 15s linear infinite alternate;
  background-attachment:  fixed;

  .container {
    margin: 10px auto;
    width: 100%;
  }
  .nav {
    width: 100%;
    background: rgba(0,0,0, 0.3);
    align-self: flex-start;

    &__list {
      margin: 0;
      padding-left: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style: none;

    }

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      width: auto;
      padding-right: 50px;
      height: 50px;
      margin: 0;
      zoom: 1;

      &:last-child{
        padding-right: 0;
      }
      //&:nth-child(4) {
      //  padding: 0 70px 0;
      //}
      .nav__link {
        flex-wrap: nowrap;
        font-size: 18px;
        align-self: center;
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.5s;
        font-family: Kurale-Regular, Roboto, sans-serif;

        &:link {
          text-decoration: none;
        }
        &:visited {
          text-decoration: none;
        }
        &:hover {
          color: #e7c993;
          text-decoration: none;
        }
        &:active {
          color: #e7c993;
          text-decoration: none;
        }
      }
      //&:nth-child(4) .nav__link  {
      //  font-size: 28px !important;
      //}
    }
    &__item_active .nav__link {
      color: #e7c993;
      pointer-events: none; /* делаем элемент неактивным для взаимодействия */
      cursor: default;
    }
  }
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  flex: 1 0 auto;

  .logo-shadow-link {
    text-decoration: none;
    align-self: center;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 26px 64px 70px rgba(0, 0, 0, 0.5);


    .logo-circle {
      align-self: center;
      width: 350px;
      height: 350px;
      border-radius: 50%;
      border: 2px solid white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .logo {
      display: block;
      padding-top: 20px;
      padding-right: 10px;
      text-align: center;
      color: white;
      font-size: 200px;
      line-height: 150px;
      font-family: WolfgangAmadeusMozart;
    }
    .logo__text {
      font-size: 50px;
      font-family: Rockwell, Roboto, Arial, Tahoma, sans-serif;
      color: white;

    }
  }

  .text-container {
    display: flex;
    flex-direction: row;
    background: rgba(0,0,0, 0.5);
    box-shadow: 0 26px 64px 70px rgba(0, 0, 0, 0.5);

  }
  &__text {
    font: 60px WolfgangAmadeusMozart, Roboto, sans-serif;
    line-height: 1.6;
    color: whitesmoke;
    margin: 0;
    text-align: center;

    //padding-left: 30px;
    //width: calc(100% - 30px);
    flex: 1 1 50%;
    //flex: 0 0 auto;
  }

  &__text_it {
    font: 65px WolfgangAmadeusMozart, Roboto, sans-serif;
    color: whitesmoke;
    //margin-right: 30px;
    text-align: center;
    flex: 1 1 50%;
    position: relative;
    //flex: 1 0 auto;

  }
}

.btn-container {
   display: flex;
  flex-direction: column;
  justify-content: center;
  .go-down {
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
  }
}

.banner__text_it:before {
  position: absolute;
  left: -100px;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: white;
}

@keyframes back-img {
  from {
    background: url("/assets/img/test-2-min.jpg");
    background-position: 0 0;
    background-size: cover;
  }

  //9% {
  //  background: url("/assets/img/banner-2.png");
  //  background-position: 0 -10px;
  //  background-size: cover;
  //}
  //
  //18% {
  //  background: url("/assets/img/banner-2.png");
  //  background-position: 0 -20px;
  //  background-size: cover;
  //}

  27% {
    background: url("/assets/img/test-3-min.jpg");
    background-position: 0 -70px;
    background-size: cover;
  }

  //36% {
  //  background: url("/assets/img/banner-3.png");
  //  background-position: 0 -40px;
  //  background-size: cover;
  //}
  //45% {
  //  background: url("/assets/img/banner-3.png");
  //  background-position: 0 -50px;
  //  background-size: cover;
  //}

  54% {
    background: url("/assets/img/test-4-min.jpg");
    background-position: 0 -60px;
    background-size: cover;
  }

  //63% {
  //  background: url("/assets/img/banner-4.png");
  //  background-position: 0 -70px;
  //  background-size: cover;
  //}
  //
  //72% {
  //  background: url("/assets/img/banner-4.png");
  //  background-position: 0 -80px;
  //  background-size: cover;
  //}

  //81% {
  //  background: url("/assets/img/banner-5.png");
  //  background-position: 0 -90px;
  //  background-size: cover;
  //}
  //
  //90% {
  //  background: url("/assets/img/banner-5.png");
  //  background-position: 0 -100px;
  //  background-size: cover;
  //}

  to {
    background: url("/assets/img/test-5-min.jpg");
    background-position: 0 -110px;
    background-size: cover;
  }
}
