extends ../_template

block variables
  - var title = 'О нас'
  - var activeItem = 0

block content
  .about-wrapper
    .about.item-1
      .about__img
      .about__text.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nesciunt, nobis,t amet, consectetur adipisicing elit. Facilis, nesciunt, nobis,t amet, consectetur adipisicing elit. Facilis, nesciunt, nobis,t amet, consectetur adipisicing elit. Facilis, nesciunt, nobis,
    hr
    .about.about_reverse.item-2
      .about__img
      .about__text.
        Lorem ipsum dolor sit amet, , aut, commodi cum delectus eius exercitationem laborum, necessitatibus nihil nostrum pariatur similique temporibus. Asperiores aspernatur dignissimos earum veritatis. Aliquam animi architecto facere minus necessitatibus qui, reprehenderit sequi. , veniam voluptatem.
    hr
    .about.item-3
      .about__img
      .about__text.
        Lorem ipsum dolor sit amet,similique temporibus. Asperiores aspernatur dignissimos Debitis expedita fugiat ipsum necessitatibus repellat repellendus totam, veniam voluptatem.
    hr
    .about.about_reverse.item-4
      .about__img
      .about__text.
        Lorem ipsum dolor sit amet,delectus eius exercitationem laborum earum veritatis. Aliquam animi architecto facere minus necessitatibus qui, reprehenderit sequi. Debitis expedita fugiat ipsum necessitatibus repellat repellendus totam, veniam voluptatem.
    hr
    .about.item-5
      .about__img
      .about__text.
        Lorem ipsum dolor sit amet,delectus eius exercitationem minus necessitatibus qui, reprehenderit sequi. Debitis expedita