extends ../_template

block variables
  - var title = 'Бархат - Наименования'

block content
  .barhat-wrapper
    .barhat__img.item-1
      .barhat__header
    .barhat__img.item-2
      .barhat__header
    .barhat__img.item-3
      .barhat__header
    .barhat__img.item-4
      .barhat__header