extends ../_template

block variables
  - var title = 'Галерея'
  - var activeItem = 4

block content
  .gallery#gallery
    img.main-img(src='/assets/img/slider/showroom/showroom-6-1000.jpg')
    ul
      li
        img.gallery-slider__img(src='/assets/img/slider/showroom/showroom-6-1000.jpg')
      li
        img.gallery-slider__img(src='/assets/img/slider/showroom/showroom-5-1000.jpg')
      li
        img.gallery-slider__img(src='/assets/img/slider/showroom/showroom-6-1000.jpg')
      li
        img.gallery-slider__img(src='/assets/img/slider/showroom/showroom-5-1000.jpg')
      li
        img.gallery-slider__img(src='/assets/img/slider/showroom/showroom-6-1000.jpg')
  //.gallery-slider__item
  //      img.gallery-slider__img(src='/assets/img/slider/showroom/showroom-6-1000.jpg')
  //    .gallery-slider__item
  //      img.gallery-slider__img(src='/assets/img/slider/showroom/showroom-5-1000.jpg')
  //    .gallery-slider__item
  //      img.gallery-slider__img(src='/assets/img/slider/showroom/showroom-6-1000.jpg')
      //.gallery__img
      //
      //.gallery__text.
      //  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nesciunt, nobis! Adipisci aspernatur, aut, commodi cum delectus eius exercitationem laborum, necessitatibus nihil nostrum pariatur similique temporibus. Asperiores aspernatur dignissimos earum veritatis. Aliquam animi architecto facere minus necessitatibus qui, reprehenderit sequi. Debitis expedita fugiat ipsum necessitatibus repellat repellendus totam, veniam voluptatem.
