extends ../_template

block variables
  - var title = 'Ателье'

block content
  .studio-wrapper
    .studio
      .studio__img
      .studio__text.
        flslkfjlkdjkljlk
        flslkfjlkdjkljlk
        flslkfjlkdjkljlk
        flslkfjlkdjkljlk
        flslkfjlkdjkljlk
        flslkfjlkdjkljlk
    .studio.studio_reverse
      .studio__img
      .studio__text.
        lkfdjlkjfklsdlfjdfdgdfgfdgdfg
    .studio
      .studio__img
      .studio__text.
        lkfdjlkjfklsdlfj
    .studio.studio_reverse
      .studio__img
      .studio__text.
        fllkfslkflksdfl