extends ../_template

block variables
  - var title = 'Ателье'

block content
  .studio-wrapper
    .studio
      .studio__img
      .studio__text.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nesciunt, nobis! Adipisci aspernatur, aut, commodi cum delectus eius exercitationem laborum, necessitatibus nihil nostrum pariatur similique temporibus. Asperiores aspernatur dignissimos earum veritatis. Aliquam animi architecto facere minus necessitatibus qui, reprehenderit sequi. Debitis expedita fugiat ipsum necessitatibus repellat repellendus totam, veniam voluptatem.
    .studio.studio_reverse
      .studio__img
      .studio__text.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nesciunt, nobis! Adipisci aspernatur, aut, commodi cum delectus eius exercitationem laborum, necessitatibus nihil nostrum pariatur similique temporibus. Asperiores aspernatur dignissimos earum veritatis. Aliquam animi architecto facere minus necessitatibus qui, reprehenderit sequi. Debitis expedita fugiat ipsum necessitatibus repellat repellendus totam, veniam voluptatem.
    .studio
      .studio__img
      .studio__text.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nesciunt, nobis! Adipisci aspernatur, aut, commodi cum delectus eius exercitationem laborum, necessitatibus nihil nostrum pariatur similique temporibus. Asperiores aspernatur dignissimos earum veritatis. Aliquam animi architecto facere minus necessitatibus qui, reprehenderit sequi. Debitis expedita fugiat ipsum necessitatibus repellat repellendus totam, veniam voluptatem.
    .studio.studio_reverse
      .studio__img
      .studio__text.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nesciunt, nobis! Adipisci aspernatur, aut, commodi cum delectus eius exercitationem laborum, necessitatibus nihil nostrum pariatur similique temporibus. Asperiores aspernatur dignissimos earum veritatis. Aliquam animi architecto facere minus necessitatibus qui, reprehenderit sequi. Debitis expedita fugiat ipsum necessitatibus repellat repellendus totam, veniam voluptatem.