extends ../_template

block variables
  - var title = 'Ткани'

block content
  .tissue-wrapper
    .tissue.barhat
        .tissue__img
        .tissue__description
          h2.tissue__title Бархат
          .tissue__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, magni praesentium sed tenetur. Commodi esse ex qui quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, ma
          .tissue__link
            a.tissue__url(href='#') Подробнее
        a.cover-link(href='#')
    .tissue.tvid
        .tissue__img
        .tissue__description
          h2.tissue__title Бархат
          .tissue__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, magni praesentium sed tenetur. Commodi esse ex qui quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, ma
          .tissue__link
            a.tissue__url(href='#') Подробнее
        a.cover-link(href='#')
    .tissue-reverse.sholk
        .tissue__description
          h2.tissue__title Бархат
          .tissue__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, magni praesentium sed tenetur. Commodi esse ex qui quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, ma
          .tissue__link
            a.tissue__url(href='#') Подробнее
        .tissue__img
        a.cover-link(href='#')
    .tissue-reverse.shifon
        .tissue__description
          h2.tissue__title Бархат
          .tissue__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, magni praesentium sed tenetur. Commodi esse ex qui quibusdam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa incidunt, ma
          .tissue__link
            a.tissue__url(href='#') Подробнее
        .tissue__img
        a.cover-link(href='#')
