extends ../_template

block variables
  - var title = 'Ткани'

block content
  .tissue-wrapper
    .barhat
        .barhat__img
        .barhat__description
          h2.barhat__title Бархат
          .barhat__text Описание бархата
          a.barhat__link(href='#')
        a.cover-link(href='#')
    .barhat
        .barhat__img
        .barhat__description
          h2.barhat__title Бархат
          .barhat__text Описание бархата
          a.barhat__link(href='#')
